---
- name: Automatically update/clean APT’s package cache
  lineinfile:
    path: /etc/apt/apt.conf.d/10periodic
    regexp: '{{ item.regexp }}'
    line: '{{ item.line }}'
    state: present
  with_items:
    -
      regexp: '^APT::Periodic::Download-Upgradeable-Packages '
      line: 'APT::Periodic::Download-Upgradeable-Packages "1";'
    -
      regexp: '^APT::Periodic::AutocleanInterval '
      line: 'APT::Periodic::AutocleanInterval "7";'

- name: Tweak APT’s unattended upgrades
  lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '{{ item.regexp }}'
    line: '{{ item.line }}'
    state: present
  with_items:
    -
      regexp: '^(?://)?\s+"\$\{distro_id\}:\$\{distro_codename\}-updates";'
      line: '  "${distro_id}:${distro_codename}-updates";'
    -
      regexp: '^(?://)?Unattended-Upgrade::MinimalSteps '
      line: 'Unattended-Upgrade::MinimalSteps "true";'
    -
      regexp: '^(?://)?Unattended-Upgrade::Mail '
      line: 'Unattended-Upgrade::Mail "{{ postmaster_redirect_address }}";'
    -
      regexp: '^(?://)?Unattended-Upgrade::Remove-Unused-Kernel-Packages '
      line: 'Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";'
    -
      regexp: '^(?://)?Unattended-Upgrade::Remove-Unused-Dependencies '
      line: 'Unattended-Upgrade::Remove-Unused-Dependencies "true";'

- name: Don’t delete a group if there are still users in it
  lineinfile:
    path: /etc/deluser.conf
    regexp: '^ONLY_IF_EMPTY ='
    line: 'ONLY_IF_EMPTY = 1'
    state: present

- name: Enable SSH client agent forwarding
  lineinfile:
    path: /etc/ssh/ssh_config
    line: 'ForwardAgent yes'
    state: present

- name: Disable SSH client roaming
  lineinfile:
    path: /etc/ssh/ssh_config
    line: 'UseRoaming no'
    state: present

- name: Register needed locales
  lineinfile:
    path: /etc/locale.gen
    regexp: '^(?:# )?{{ item|regex_escape }}( .+)?'
    line: '{{ item }}\1'
    backrefs: true
    state: present
  with_items: '{{ static.installed_locales + installed_locales }}'
  notify: fabschurt.ubuntu.base.locales_added

- name: Define mailer’s host name
  lineinfile:
    path: /etc/mailname
    line: '{{ ansible_fqdn }}'
    state: present
    create: true

- name: Tweak Postfix’s config to make it a send-only relay
  lineinfile:
    path: /etc/postfix/main.cf
    regexp: '{{ item.regexp }}'
    line: '{{ item.line }}'
    backrefs: true
    state: present
  with_items:
    -
      regexp: '^#?myorigin ='
      line: 'myorigin = /etc/mailname'
    -
      regexp: '^#?myhostname ='
      line: 'myhostname = {{ ansible_fqdn }}'
    -
      regexp: '^#?mydestination =(.*)'
      line: '#mydestination =\1'
    -
      regexp: '^#?relayhost =(.*)'
      line: '#relayhost =\1'
    -
      regexp: '^#?inet_interfaces ='
      line: 'inet_interfaces = loopback-only'
    -
      regexp: '^#?relay_transport ='
      line: 'relay_transport = $default_transport'
  notify: fabschurt.ubuntu.base.postfix_config_added

- name: Redirect postmaster and root e-mails to custom address
  lineinfile:
    path: /etc/aliases
    regexp: '^root:'
    line: 'root: {{ postmaster_redirect_address }}'
    state: present
  notify: fabschurt.ubuntu.base.aliases_added
